code/Connected Services/ServiceReferenceTrackPeriods/soap2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SpicStatisticsOperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicStatisticsOperationResult" nillable="true" type="tns:SpicStatisticsOperationResult" />
  <xs:complexType name="SpicDateTimeRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="Begin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicDateTimeRange" nillable="true" type="tns:SpicDateTimeRange" />
</xs:schema>