code/Connected Services/ServiceReferenceUnitsSpic/soap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/units/soap?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/units/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" />
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/units/soap?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" />
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/units/soap?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Scout.Platform.Components.Frontend.Spic.Units.Data" />
  <xs:element name="GetAllUnitsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllUnitsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllUnitsIdsResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="request" nillable="true" type="q2:SpicObjectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetUnitResult" nillable="true" type="q3:SpicUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetAllUnitsResult" nillable="true" type="q4:SpicUnitCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="spicObjectRequests" nillable="true" type="q5:SpicObjectRequests" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetUnitsResult" nillable="true" type="q6:SpicUnitCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="request" nillable="true" type="q7:SpicObjectsChunkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetAllUnitsPagedResult" nillable="true" type="q8:SpicUnitCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnpluggedUnitsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnpluggedUnitsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnpluggedUnitsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnpluggedUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="request" nillable="true" type="q9:SpicIdObjectsChunkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnpluggedUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetUnpluggedUnitsResult" nillable="true" type="q10:SpicUnitCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopeUnitsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scopeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopeUnitsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScopeUnitsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopeUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="request" nillable="true" type="q11:SpicIdObjectsChunkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopeUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetScopeUnitsResult" nillable="true" type="q12:SpicUnitCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionUnitsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionUnitsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPositionUnitsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="request" nillable="true" type="q13:SpicIdObjectsChunkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetPositionUnitsResult" nillable="true" type="q14:SpicUnitCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUnitsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUnitsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountUnitsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="request" nillable="true" type="q15:SpicIdObjectsChunkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Units.Data" minOccurs="0" name="GetAccountUnitsResult" nillable="true" type="q16:SpicUnitCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPetrolTanksInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="request" nillable="true" type="q17:SpicObjectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPetrolTanksInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Scout.Platform.Components.Frontend.Spic.Units.Data" minOccurs="0" name="GetPetrolTanksInfoResult" nillable="true" type="q18:SpicPetrolTankCollectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>