code/Connected Services/ServiceReferenceControllerStistics/soap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" />
  <xs:complexType name="SpicStatisticsChunkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChunkNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFinalChunk" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="Period" nillable="true" type="q1:SpicDateTimeRange" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="Status" nillable="true" type="q2:SpicStatisticsOperationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicStatisticsChunkInfo" nillable="true" type="tns:SpicStatisticsChunkInfo" />
</xs:schema>