code/Connected Services/ServiceReferenceControllerStistics/soap4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Controller" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Controller" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" />
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SpicStatisticsSessionRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="Period" nillable="true" type="q1:SpicDateTimeRange" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="TargetObject" type="q2:SpicObjectIdentity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicStatisticsSessionRequest" nillable="true" type="tns:SpicStatisticsSessionRequest" />
  <xs:complexType name="SpicStatisticsSessionResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="OperationResult" nillable="true" type="q3:SpicStatisticsOperationResult" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:SpicStatisticsSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicStatisticsSessionResponse" nillable="true" type="tns:SpicStatisticsSessionResponse" />
  <xs:complexType name="SpicStatisticsSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatisticsSessionId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicStatisticsSession" nillable="true" type="tns:SpicStatisticsSession" />
</xs:schema>