code/Connected Services/ServiceReferenceControllerStistics/SpicStatisticsControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpicStatisticsControllerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Controller" />
      <xsd:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" />
      <xsd:import schemaLocation="http://login.scout-gps.ru:8081/spic/StatisticsController/soap?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpicSoapStatisticsControllerService_StartStatisticsSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartStatisticsSession" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_StartStatisticsSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartStatisticsSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_StopStatisticsSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StopStatisticsSession" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_StopStatisticsSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopStatisticsSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_GetCurrentChunkInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentChunkInfo" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_GetCurrentChunkInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentChunkInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_BuildNextChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildNextChunk" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_BuildNextChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildNextChunkResponse" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_StartBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StartBuild" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapStatisticsControllerService_StartBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartBuildResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpicSoapStatisticsControllerService">
    <wsdl:operation name="StartStatisticsSession">
      <wsdl:input wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/StartStatisticsSession" message="tns:ISpicSoapStatisticsControllerService_StartStatisticsSession_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/StartStatisticsSessionResponse" message="tns:ISpicSoapStatisticsControllerService_StartStatisticsSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopStatisticsSession">
      <wsdl:input wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/StopStatisticsSession" message="tns:ISpicSoapStatisticsControllerService_StopStatisticsSession_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/StopStatisticsSessionResponse" message="tns:ISpicSoapStatisticsControllerService_StopStatisticsSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentChunkInfo">
      <wsdl:input wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/GetCurrentChunkInfo" message="tns:ISpicSoapStatisticsControllerService_GetCurrentChunkInfo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/GetCurrentChunkInfoResponse" message="tns:ISpicSoapStatisticsControllerService_GetCurrentChunkInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildNextChunk">
      <wsdl:input wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/BuildNextChunk" message="tns:ISpicSoapStatisticsControllerService_BuildNextChunk_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/BuildNextChunkResponse" message="tns:ISpicSoapStatisticsControllerService_BuildNextChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartBuild">
      <wsdl:input wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/StartBuild" message="tns:ISpicSoapStatisticsControllerService_StartBuild_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpicSoapStatisticsControllerService/StartBuildResponse" message="tns:ISpicSoapStatisticsControllerService_StartBuild_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpicSoapStatisticsControllerService" type="tns:ISpicSoapStatisticsControllerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartStatisticsSession">
      <soap:operation soapAction="http://tempuri.org/ISpicSoapStatisticsControllerService/StartStatisticsSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopStatisticsSession">
      <soap:operation soapAction="http://tempuri.org/ISpicSoapStatisticsControllerService/StopStatisticsSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentChunkInfo">
      <soap:operation soapAction="http://tempuri.org/ISpicSoapStatisticsControllerService/GetCurrentChunkInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildNextChunk">
      <soap:operation soapAction="http://tempuri.org/ISpicSoapStatisticsControllerService/BuildNextChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBuild">
      <soap:operation soapAction="http://tempuri.org/ISpicSoapStatisticsControllerService/StartBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpicStatisticsControllerService">
    <wsdl:port name="BasicHttpBinding_ISpicSoapStatisticsControllerService" binding="tns:BasicHttpBinding_ISpicSoapStatisticsControllerService">
      <soap:address location="http://login.scout-gps.ru:8081/spic/StatisticsController/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>