code/Connected Services/SpicGeofenceService/soap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/geofences/soap?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scout.Platform.Components.Frontend.Spic.Geofences.Data" />
  <xs:element name="GetAvailableGeofences">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableGeofencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scout.Platform.Components.Frontend.Spic.Geofences.Data" minOccurs="0" name="GetAvailableGeofencesResult" nillable="true" type="q1:SpicGeofenceCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>