code/Connected Services/EventRibbonService/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTupleOflongboolean">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOflongboolean" nillable="true" type="tns:TupleOflongboolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOflongboolean" nillable="true" type="tns:ArrayOfTupleOflongboolean" />
  <xs:complexType name="TupleOflongboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:long" />
      <xs:element name="m_Item2" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOflongboolean" nillable="true" type="tns:TupleOflongboolean" />
</xs:schema>