code/Connected Services/EventRibbonService/Titan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Titan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Titan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRibbonEventObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RibbonEventObject" nillable="true" type="tns:RibbonEventObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRibbonEventObject" nillable="true" type="tns:ArrayOfRibbonEventObject" />
  <xs:complexType name="RibbonEventObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mclass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RibbonEventObject" nillable="true" type="tns:RibbonEventObject" />
</xs:schema>