code/Connected Services/ServiceReferenceDataOnline/soap2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/OnlineDataService/soap?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" minOccurs="0" name="request" nillable="true" type="q1:SpicOnlineDataSubscriptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" minOccurs="0" name="SubscribeResult" nillable="true" type="q2:SpicOnlineDataSubscriptionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" minOccurs="0" name="onlineDataSessionId" type="q3:SpicOnlineDataSessionId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" minOccurs="0" name="UnsubscribeResult" nillable="true" type="q4:SpicOnlineDataOperationState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" minOccurs="0" name="onlineDataSessionId" type="q5:SpicOnlineDataSessionId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" minOccurs="0" name="GetOnlineDataResult" nillable="true" type="q6:SpicOnlineDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>