code/Connected Services/ServiceReferenceDataOnline/soap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.SpicOnlineData.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/OnlineDataService/soap?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/OnlineDataService/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/OnlineDataService/soap?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" />
  <xs:import schemaLocation="http://login.scout-gps.ru/spic/OnlineDataService/soap?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.SpicNavigationFiltrationStat" />
  <xs:complexType name="SpicOnlineDataSubscriptionRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UnitIds" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineDataSubscriptionRequest" nillable="true" type="tns:SpicOnlineDataSubscriptionRequest" />
  <xs:complexType name="SpicOnlineDataSubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="tns:SpicOnlineDataSessionId" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:SpicOnlineDataOperationState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineDataSubscriptionResponse" nillable="true" type="tns:SpicOnlineDataSubscriptionResponse" />
  <xs:complexType name="SpicOnlineDataSessionId">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineDataSessionId" nillable="true" type="tns:SpicOnlineDataSessionId" />
  <xs:complexType name="SpicOnlineDataOperationState">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorCodes" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="Status" type="tns:SpicOnlineDataOperationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineDataOperationState" nillable="true" type="tns:SpicOnlineDataOperationState" />
  <xs:complexType name="SpicOnlineDataOperationStatus">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineDataOperationStatus" nillable="true" type="tns:SpicOnlineDataOperationStatus" />
  <xs:complexType name="SpicOnlineDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="OnlineDataCollection" nillable="true" type="tns:SpicOnlineDataCollection" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:SpicOnlineDataOperationState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineDataResponse" nillable="true" type="tns:SpicOnlineDataResponse" />
  <xs:complexType name="SpicOnlineDataCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCollection" nillable="true" type="tns:ArrayOfSpicOnlineData" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Targets" nillable="true" type="q3:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineDataCollection" nillable="true" type="tns:SpicOnlineDataCollection" />
  <xs:complexType name="ArrayOfSpicOnlineData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpicOnlineData" nillable="true" type="tns:SpicOnlineData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpicOnlineData" nillable="true" type="tns:ArrayOfSpicOnlineData" />
  <xs:complexType name="SpicOnlineData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnectionDateTime" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" minOccurs="0" name="DeviceId" type="q4:SpicDeviceId" />
      <xs:element minOccurs="0" name="IsNavigationValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastMessageTime" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.SpicNavigationFiltrationStat" minOccurs="0" name="Navigation" nillable="true" type="q5:SpicNavigation" />
      <xs:element minOccurs="0" name="NavigationTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalMessages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicOnlineData" nillable="true" type="tns:SpicOnlineData" />
</xs:schema>