code/Connected Services/ServiceReferenceValidationNavigation/soap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/NavigationValidation/soap?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Controller" />
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/NavigationValidation/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" />
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/NavigationValidation/soap?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.NavigationValidationStat" />
  <xs:element name="AddStatisticsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Controller" minOccurs="0" name="session" nillable="true" type="q1:SpicStatisticsSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatisticsRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" minOccurs="0" name="AddStatisticsRequestResult" nillable="true" type="q2:SpicAddonStatisticsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Controller" minOccurs="0" name="session" nillable="true" type="q3:SpicStatisticsSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.NavigationValidationStat" minOccurs="0" name="GetStatisticsResult" nillable="true" type="q4:SpicNavigationValidationStatisticsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>