code/Connected Services/ServiceReferenceValidationNavigation/soap5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.NavigationValidationStat" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.NavigationValidationStat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/NavigationValidation/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" />
  <xs:import schemaLocation="http://login.scout-gps.ru:8081/spic/NavigationValidation/soap?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.SpicNavigationFiltrationStat" />
  <xs:complexType name="SpicNavigationValidationStatisticsResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" minOccurs="0" name="ChunkInfo" nillable="true" type="q1:SpicStatisticsChunkInfo" />
      <xs:element minOccurs="0" name="Statistics" nillable="true" type="tns:SpicNavigationValidationStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicNavigationValidationStatisticsResult" nillable="true" type="tns:SpicNavigationValidationStatisticsResult" />
  <xs:complexType name="SpicNavigationValidationStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvalidPointsCount" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.SpicNavigationFiltrationStat" minOccurs="0" name="Points" nillable="true" type="q2:ArrayOfSpicNavigationPoint" />
      <xs:element minOccurs="0" name="ValidPointsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpicNavigationValidationStatistics" nillable="true" type="tns:SpicNavigationValidationStatistics" />
</xs:schema>