code/Connected Services/UtilityServiceWeb/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://TitanUtilityService.ITechControlUtilityWebService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UtilityWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://TitanUtilityService.ITechControlUtilityWebService" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ITechControlUtilityWebService" type="i0:ITechControlUtilityWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAddressGuardedByPartners">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/IsAddressGuardedByPartners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressByMonNumber">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/GetAddressByMonNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByMonNumber">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/GetAddressesByMonNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonNumbersToGetPushMessages">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/MonNumbersToGetPushMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLKPushMessage">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/CreateLKPushMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectStatusString">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/GetObjectStatusString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGBREmployees">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/GetGBREmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeePhoto">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/GetEmployeePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawCobraObjects">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/GetRawCobraObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawCobraObjectsOneObject">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/GetRawCobraObjectsOneObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindGBRVisitations">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/FindGBRVisitations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsteriskOriginate">
      <soap:operation soapAction="http://TitanUtilityService.ITechControlUtilityWebService/ITechControlUtilityWebService/AsteriskOriginate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilityWebService">
    <wsdl:port name="BasicHttpBinding_ITechControlUtilityWebService" binding="tns:BasicHttpBinding_ITechControlUtilityWebService">
      <soap:address location="http://10.10.4.160:5072/UtilityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>