code/Connected Services/UtilityServiceWeb/TitanUtilityService.IUtilityWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://TitanUtilityService.ITechControlUtilityWebService" elementFormDefault="qualified" targetNamespace="http://TitanUtilityService.ITechControlUtilityWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/TitanUtilityService" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsAddressGuardedByPartners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAddressGuardedByPartnersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAddressGuardedByPartnersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByMonNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByMonNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TitanUtilityService" minOccurs="0" name="GetAddressByMonNumberResult" nillable="true" type="q1:ArrayOfAddressInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByMonNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="monNums" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByMonNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TitanUtilityService" minOccurs="0" name="GetAddressesByMonNumberResult" nillable="true" type="q3:ArrayOfAddressInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonNumbersToGetPushMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonNumbersToGetPushMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MonNumbersToGetPushMessagesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLKPushMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LKStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLKPushMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectStatusString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectStatusStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetObjectStatusStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGBREmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGBREmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TitanUtilityService" minOccurs="0" name="GetGBREmployeesResult" nillable="true" type="q5:ArrayOfNsgEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeePhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TabelNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeePhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeePhotoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawCobraObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fields" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawCobraObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRawCobraObjectsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawCobraObjectsOneObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fields" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawCobraObjectsOneObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRawCobraObjectsOneObjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGBRVisitations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGBRVisitationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TitanUtilityService" minOccurs="0" name="FindGBRVisitationsResult" nillable="true" type="q8:ArrayOfNsgVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsteriskOriginate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gbrPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsteriskOriginateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>